AddDefaultCharset UTF-8

# Options 
Options -Indexes +FollowSymLinks -MultiViews

# HTTP errors
ErrorDocument 400 /index.php?_req=/errors/400/
ErrorDocument 401 /index.php?_req=/errors/401/
ErrorDocument 403 /index.php?_req=/errors/403/
ErrorDocument 404 /index.php?_req=/errors/404/
ErrorDocument 500 /index.php?_req=/errors/500/

# Enable URI rewriting
RewriteEngine on
RewriteBase /

# Redirect to https://
#RewriteCond %{HTTPS} off
#RewriteRule .* https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Add a slash to the end of the uri
RewriteCond %{REQUEST_URI} !\.([a-zA-Z0-9]{2,5})$
RewriteRule ^.*[^/]$ /$0/ [L,R]

# Give direct access to "phrapp/resource/"
RewriteCond %{DOCUMENT_ROOT}phrapp/resources%{REQUEST_URI} -f [NC]
RewriteRule ^(.*)$ /phrapp/resources%{REQUEST_URI} [QSA,L,NC]

# Give diretc access to "default/resource/"
#RewriteCond %{DOCUMENT_ROOT}phrame/default/resources%{REQUEST_URI} -f
RewriteCond %{REQUEST_URI} ^\/phramer\/.*$ [NC]
RewriteRule ^phramer\/(.*)$ /phrame/default/resources/$1 [QSA,L,NC]

# Give direct access to existing files
RewriteCond %{REQUEST_FILENAME} !-d [NC]
RewriteCond %{REQUEST_FILENAME} !-f [NC]
RewriteRule ^(.*)$ index.php [QSA,L]
