* { font-family: Segoe UI, sans-serif; }
.content { position: relative; display: block; width: 100%; max-width: 1000px; padding: 100px 50px; margin: 0 auto; }
h1 { border-bottom: 1px solid #ddd; padding: 0 0 10px 0;  }
h1 img { display: inline-block; height: 2em; float: right; margin: -20px 0 0 0;  }