* { font-family: Segoe UI, sans-serif; }
.content { position: relative; display: block; width: 100%; max-width: 1000px; padding: 100px 50px; margin: 0 auto; }
h1 { border-bottom: 1px solid #ddd; padding: 0 0 20px 0;  }
h1 img { display: block; height: 2em; float: right; margin: -20px 0 0 0;  }
a { color: inherit; text-decoration: none;}
p { line-height: 30px; }
span.meta { position: relative; display: block; font-size: 14px; color: #aaa; margin-top: 25px;  }